/* Badges */

.badge {
  border-radius: .25rem;
  font-size: .75rem;
  font-weight: initial;
  line-height: 1;
  padding: .25rem 0.375rem;
  font-family: $type1;
  &.badge-pill {
    border-radius: 10rem;
  }
  &.badge-fw{
    min-width: 70px;
  }
}


/*Badge outlined variations*/
@each $color, $value in $theme-colors {
  .badge-outline-#{$color} {
    @include badge-outline-variations($value);
  }
}
@each $color, $value in $theme-colors {
  .badge-opacity-#{$color} {
    @include badge-opacity-variations($value);
  }
}
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-themes($value); 
  }
}
