APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:SXvyo3L2Euw1tdti5G3BVBmxgXNsOUDVDIR+PJwhOUc=
APP_DEBUG=true
APP_URL=http://localhost
DIST_LINKS_API_KEY=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ejemploppp
DB_USERNAME=root
DB_PASSWORD=Lolador117

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=carlos.codeglider@gmail.com
MAIL_PASSWORD="tmcu mxel zlkg tksk"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=carlos.codeglider@gmail.com
MAIL_FROM_NAME="PATS"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# ══════════════════════════════════════════
#  FEENICIA / SERTI — Configuración QA
# ══════════════════════════════════════════

FEENICIA_ENV=qa
FEENICIA_BASE_URL=https://www.feenicia.net

# Credenciales del merchant
FEENICIA_MERCHANT=0000000000087626
FEENICIA_USER=pasaportesalud01
FEENICIA_AFFILIATION=7016408

# Encriptación de campos individuales (AES-256)
FEENICIA_REQUEST_KEY=7f348873a1a840a5b1525cb39a75e974
FEENICIA_REQUEST_IV=763e1b1bb9aca36672c73d0054e22815

# Firma del header x-requested-with
FEENICIA_SIGNATURE_KEY=82ff87ed0080dd9cb630abbb7fd5d681
FEENICIA_SIGNATURE_IV=1eb1ecacac6bc812c0a19441d5839f45

# Desencriptación de respuestas
FEENICIA_RESPONSE_KEY=cb05c47ccfd355c127a09eb04e54b4d3
FEENICIA_RESPONSE_IV=e439100c4bfeb4f052bd6e06ff03cfbe
FEENICIA_RESPONSE_SIGNATURE_KEY=b12e2704d4bf1bd00b60234e9f618030
FEENICIA_RESPONSE_SIGNATURE_IV=ff869378d9b6a2e67f81ddcf2afed8c5

# Webhook JWT
FEENICIA_WEBHOOK_SECRET=5c7841badc4e9ac305b49683abbb5fe062fec1b57ba13a3c776e44c94550942c

# ══════════════════════════════════════════
#  STRIPE
# ══════════════════════════════════════════
STRIPE_KEY=pk_test_51TRgpYC9lznTKS2PcOZmqHp9zzeFFaZ4XIKDgdAugG6qc6kz2xkShn84VJzrkGVHKYirQ87fpaULURfKtGdqmH7700HezFwzXx
STRIPE_SECRET=sk_test_51TRgpYC9lznTKS2PqZDWwyExnR1RzWIQDROVj3wUOt5wGI3x24vJCSYiHYU3TBL3nUqjRztGn8H9yPWAPxJCXHy100v1GJvczN



# STRIPE_KEY=pk_live_51TRgniFfDZMV0pqK2iCKYfErNHFDGfmOIGCjNzm1KRZqJJ9fClDisKdffjGptZxQVlexeIVxKwnNXXaw8p4Isosr00mfMaASF3
# STRIPE_SECRET=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

